@media screen and (min-width:768px) and (max-width:992px) {

    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }

    .navegacao-links{
        height: 2rem;
        display: flex;
        transition: all 0.3s linear;
    }

    body .caixa-principal{
        background-color: var(--color1);
        color: var(--color2);
        min-height: 99vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    body .caixa-principal .welcome{
        display: block;
        gap: 1rem;
    }

    body .caixa-principal .foto{
        background-color: var(--color5);
        width: 290px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
    }

    body .caixa-secundaria section p{
        font-weight: lighter;
        font-size: 15px;
        padding-left: 3.7rem;
    }

    body .caixa-terciaria .produtos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 2rem;
    }

    footer section{
        border-top: 1px solid var(--color3);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){

    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }

    .navegacao-links{
        height: 2rem;
        display: flex;
        transition: all 0.3s linear;
    }

    body .caixa-principal{
        background-color: var(--color1);
        color: var(--color2);
        min-height: 99vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    body .caixa-principal .welcome{
        display: block;
        flex-direction: column;
        gap: 1rem;
    }

    body .caixa-principal .foto{
        background-color: var(--color5);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
    }

    body .caixa-secundaria section p{
        font-weight: lighter;
        font-size: 15px;
        padding-left: 3.7rem;
    }

    body .caixa-terciaria .produtos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 2rem;
    }

    footer section{
        border-top: 1px solid var(--color3);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px){

    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }

    .navegacao-links{
        height: 2rem;
        display: flex;
        transition: all 0.3s linear;
    }

    body .caixa-principal{
        background-color: var(--color1);
        color: var(--color2);
        min-height: 99vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    body .caixa-principal .welcome{
        display: block;
        flex-direction: column;
        gap: 1rem;
    }

    body .caixa-principal .foto{
        background-color: var(--color5);
        width: 400px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
    }

    body .caixa-secundaria section p{
        font-weight: lighter;
        font-size: 15px;
        padding-left: 3.7rem;
    }

    body .caixa-terciaria .produtos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 2rem;
    }

    footer section{
        border-top: 1px solid var(--color3);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
}