*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
a{
    text-decoration: none;
}
form h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 600px;
    width: 400px;
    background-color: aquamarine;
    border-radius: 8px;
    
}
.items{
    display: flex;
    flex-direction: column;
}
input, button{
    height: 40px;
    width: 380px;
    margin-left: 5px;
}
p{
    margin-bottom: 45px;
}
label{
    font-size: 25px;
}