
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cor-primaria: #3B82F6;      
    --cor-secundaria: #22C55E;    
    --cor-destaque: #1E40AF;      
    --cor-texto: #1F2937;
    --cor-texto-claro: #6B7280;
    --branco: #FFFFFF;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        rgba(59,130,246,0.45),
        rgba(30,64,175,0.45)
    ), url("../imagens/OIP.webp") center/cover no-repeat;
}


a {
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: 500;
}

a:hover {
    color: var(--cor-destaque);
}


form {
    width: 420px;
    padding: 40px 30px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}


form h1 {
    margin-bottom: 25px;
    color: var(--cor-destaque);
    font-size: 28px;
}


form p {
    margin-bottom: 30px;
    color: var(--cor-texto-claro);
    text-align: center;
}


.items {
    width: 100%;
    display: flex;
    flex-direction: column;
}


label {
    font-size: 14px;
    color: var(--cor-texto);
    margin-bottom: 5px;
}


input {
    width: 100%;
    height: 42px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1.5px solid #CBD5E1;
    font-size: 14px;
    transition: all 0.3s ease;
}

input::placeholder {
    color: #94A3B8;
}


input:focus {
    outline: none;
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 2px rgba(59,130,246,0.2);
}


button {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(
        135deg,
        var(--cor-primaria),
        var(--cor-destaque)
    );
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}


#item1,
#item2 {
    margin-bottom: 18px;
}

@media (max-width: 480px) {
    form {
        width: 90%;
        padding: 30px 20px;
    }
}
